*{
  margin: 0px;
}
body{

}
#uchihabody{
  background-image: url(https://th.bing.com/th/id/OIP.NVBY0LHo_KGdcVmQtkP1hgHaEK?rs=1&pid=ImgDetMain);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200%;
}
#uzumakibody{
  background-image: url(https://th.bing.com/th/id/OIP.-1CUOMWgRJGO-wyyiV4XOwHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200%;
}#senjubody{
  background-image: url(https://th.bing.com/th/id/OIP.nsY02zF-13huqh_QByxZVwHaEK?w=1024&h=576&rs=1&pid=ImgDetMain);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200%;
}

#fixed{
  position: fixed;
  text-align: center;
  z-index: 100;
  height: fit-content;
  width: fit-content;
  padding: 10px 8px 10px 5px;
  background-color: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  top: 40%;
  display: flex;
  flex-direction: column;
}
#fixed a{
  color: white;
  text-decoration: none;
  
}
#fixed p{
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid rgba(117, 117, 117, 0);
  padding: 2px;
  color: black;
  border-radius: 20px;
  transition: ease-in.2s;
  margin: 5px;
}
#fixed p:hover{
  border: 1px solid rgb(59, 59, 59);
  scale: 1.2;
}

#u{
  background-color: #ff3939;
}

#u2{
  background-color: #ffea00;
}
#s{
  background-color: #00aaff;
}



#Uchiha-Banner, #Uzumaki-Banner, #Senju-Banner{
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

#ub1{
  transition: ease-in .2s;
  margin-top: 15px;
  scale: 1.01;
}
#ub1:hover{
  scale: 1.2;
}

#ub2{
  transition: ease-in .2s;
  margin-top: 10px;
  scale: 1.5;
}
#ub2:hover{
  scale: 1.7;
}

#sb{
  transition: ease-in .2s;
  margin-top: 10px;
  scale: 1.9;
}
#sb:hover{
  scale: 2.5;
}


#boxp{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;

}
@media screen and (max-width: 1023px){
  #box01{ 
    margin-top: 30px;   
  }

}
@media screen and (MIN-width: 1024px){
  #box01{ 
    margin-top: 30px;   
  }
  
}

#box01{
  background-color: rgb(255, 255, 255);
  height: 450px;
  width: 300px;
  border: 1.5px solid rgb(197, 197, 197);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: .2s ease-in;
}
#box01:hover{
  scale:1.08;
}



#uchiha01, #uchiha02, #uchiha03, #uchiha04, #uchiha05, #uchiha06, #uchiha07, #uzu01, #uzu02, #uzu03, #uzu04, #uzu05, #uzu06, #uzu07, #sen01, #sen02, #sen03, #sen04, #sen05, #sen06, #sen07{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius:10px ;
  border-top-right-radius: 10px;
  background-image: url(https://i.pinimg.com/originals/48/42/f0/4842f0fb3a97f6336fab388d78cda8d1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
}
#imgblr{
  width: 100%;
  height: 40%;
background: rgba(183, 100, 100, 0);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.44);
}



#name001, #name002, #name003, #name04, #name05, #name06, #name07, #name08, #name09, #name10, #name11, #name12, #name13, #name14, #name15{
  width: 100%;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  display: block;
  overflow: hidden;
  
}
#name001 p, #name002 p, #name003 p, #name04 p, #name05 p, #name06 p, #name07 p, #name08 p, #name09 p,  #name10 p, #name11 p, #name12 p, #name13 p, #name14 p, #name15 p{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 145%;
  font-family: Tahoma, sans-serif;
  transition:  .2s ease-in;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  
}


#txt002{
  display: block;
  text-align: left;
  font-size: 105%;
  font-family: Arial, sans-serif;
  padding: 5px;
}
#txt02{
  display: block;
  text-align: left;
  font-size: 105%;
  font-family: Arial, sans-serif;
  padding: 5px;
  color: rgb(87, 87, 87);
}
#txt02:hover{
  color: black;
}
#txt001:hover, #txt002:hover, #txt003:hover{
  color: rgb(212, 212, 212);
}
#name001 p:hover, #name002 p:hover, #name003 p:hover, #name04 p:hover, #name05 p:hover, #name06 p:hover, #name07 p:hover, #name08 p:hover, #name09 p:hover, #name10 p:hover, #name11 p:hover, #name12 p:hover,  #name13 p:hover, #name14 p:hover, #name15 p:hover,  #name16 p:hover, #name17 p:hover, #name18 p:hover{
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.2);
}
#name001 p:hover{
  color: red;
}
#name002 p:hover{
  color: rgb(255, 128, 0);
}
#name003 p:hover{
  color: rgb(255, 170, 170);
}
#name04 p:hover{
  color: rgb(255, 187, 0);
}
#name05 p:hover{
  color: rgb(109, 109, 109);
}
#name06 p:hover{
  color: rgb(255, 68, 68);
}
#name07 p:hover{
  color: rgb(0, 255, 17);
}
#name08 p:hover{
  color: rgb(0, 204, 255);
}
#name09 p:hover{
  color: rgb(20, 255, 133);
}
#name10 p:hover{
  color: rgb(255, 27, 251);
}
#name11 p:hover{
  color: rgb(0, 255, 47);
}
#name12 p:hover{
  color: rgb(0, 208, 255);
}
#name13 p:hover{
  color: rgb(207, 50, 39);
}


#uchiha02{
  background-image: url(https://pre00.deviantart.net/e2df/th/pre/i/2010/294/f/a/tobi_by_vimes_da-d316xja.jpg);
}
#uchiha03{
  background-image: url(https://orig00.deviantart.net/d589/f/2017/255/e/d/naruto_chapetr_663___madara_rikudou_by_zyuucl-dbn8js2.png);
}
#uchiha04{
  background-image: url(https://i1.wp.com/wallpapercave.com/wp/wp7780282.jpg);
}
#uchiha05{
  background-image: url(https://th.bing.com/th/id/OIP.OYU8C8nzr7x6TQ1PCtPwiAHaJQ?rs=1&pid=ImgDetMain);
}
#uchiha06{
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2a6bf3c3-ed4e-4d52-85b6-2692a3b8eeac/dcwvyjp-e5bba388-4b35-4526-8a15-c09dd209c94f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJhNmJmM2MzLWVkNGUtNGQ1Mi04NWI2LTI2OTJhM2I4ZWVhY1wvZGN3dnlqcC1lNWJiYTM4OC00YjM1LTQ1MjYtOGExNS1jMDlkZDIwOWM5NGYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.L2xG7ZaYm71sTCr4m2s22bLVowYhCa8HT3V8FiI0nLM);
}
#uchiha07{
  background-image: url(https://th.bing.com/th/id/OIP.JgMcfRXTL5W8d87f8fjoKAHaJ3?rs=1&pid=ImgDetMain);
}
#uzu01{
  background-image: url(https://th.bing.com/th/id/OIP.UGspK4wsMk7AUDx5vL_VGwHaLH?w=640&h=960&rs=1&pid=ImgDetMain);
}

#uzu02{
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8a3dc42b-0da8-4c23-aa4a-b9e54bca754d/dg6b74h-62d9b112-81b8-4b0c-9271-c5cb7aa2c0fe.png/v1/fill/w_777,h_1029,q_70,strp/boruto_two_blue_vortex_by_twcfree_dg6b74h-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTY5NiIsInBhdGgiOiJcL2ZcLzhhM2RjNDJiLTBkYTgtNGMyMy1hYTRhLWI5ZTU0YmNhNzU0ZFwvZGc2Yjc0aC02MmQ5YjExMi04MWI4LTRiMGMtOTI3MS1jNWNiN2FhMmMwZmUucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.KIfQbaWXplSExBnXaqFqEY_VM0vCi5-BGxrs3345UPs);
}
#uzu03{
  background-image: url(https://i.pinimg.com/originals/cb/68/91/cb689174209e5991907d72f92f6ca625.png);
}
#sen01{
  background-image: url(https://e0.pxfuel.com/wallpapers/584/766/desktop-wallpaper-naruto-hashirama-sasuke-senju.jpg);
}
#sen02{
  background-image: url(https://th.bing.com/th/id/OIP.awZNqaJqheZWfQEks4uYuwHaKe?rs=1&pid=ImgDetMain);
}
#sen03{
  background-image: url(https://wallpaperbat.com/img/766850-tsunade.jpg);
}
footer{
  height: 200px;
  background-image: url("https://a-static.besthdwallpaper.com/naruto-s-itachi-uchiha-wallpaper-3840x1080-6551_75.jpg");
  background-size: cover;
}

#right-nav{
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#right-nav a{
  color: white;
  text-decoration:none;
}
#iglogo, #github{
  margin: 10px 12px;
  font-weight: bolder;
  transition: .1s;
}

#iglogo:hover, #github:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.2);
}
#og{
  width: 100%;
  display: block;
  position: relative;
  top: 110px;
}
#og2{
  text-align: center;
  color: cyan;
  background-color: rgba(0, 0, 0, 0.356);
  position: relative;
  bottom: 0px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
